<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
  <title>Soccer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="ui pointing menu">
  <%= link_to 'Home', root_path, :class => "active item"%>
  <%= link_to 'Games', games_path, :class => "item"%>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="ui simple dropdown link item">
      Language
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
